/* ==========================================================================
   Base
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin);

html {
	min-height: 100%;
}
body {
	background: #fff url(/assets/img/background.png) repeat-x center bottom;
}

/* ==========================================================================
	 Masthead & Quick question info
	- Position relation and absolute to move quick question to the bottom of the div
   ========================================================================== */

.masthead {
	position: relative;
}
.masthead .quick-question {
	position: absolute;
	bottom: 0;
	right: 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {
  .masthead {
  	position: static;
  }
  .masthead .quick-question {
  	position: inherit;
  	text-align: left;
  }  
}
